<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/javascripts/index.js"></script>

<div id="page-wrap">
	<div id="navbar">
		<h1>Tvvitter</h1>
	</div>
	<br>

	<div id="main">
		<h3>Tvveets</h3>
		<div id='mainContainer'>
			<div class="tvveet" id="hidden-template-tvveet">
				<p class="tvveetContent"></p>
				<p class="tvveetAuthor"></p>
			</div>
			<div id="composeContainer">
				<div id="tvveetContentContainer">
					<input id="tvveetContent" type="text"/>
				</div>
				<div id="tvveetSubmitContainer">
					<input id="tvveetSubmit" type="button" value="Compose"/>
				</div>
			</div>
			<div id="tvveetContainer">
				{{#each Tvveets}}
				<div class="tvveet">
					<p class="tvveetContent">{{content}}</p>
					<p class="tvveetAuthor">-{{author}}</p>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div id="sidebar">


		<div class="hidden-template-user" style="display:none">
			<p>{{username}}</p>
		</div>

		<div id="loginContainer">
			<h4>Login</h4>	
			<div id="loginInputContainer">
				<input id="loginInput" type="text"/>
			</div>	
			<div id="loginSubmitContainer">
				<input id="loginSubmit" type="button" value="Login"/>
			</div>
		</div>

		<div id="logoutContainer">
			<div id="currentUsernameContainer">
				<h4 id="currentUsername"></h5>
			</div>	
			<div id="logoutSubmitContainer">
				<input id="logoutSubmit" type="button" value="Logout"/>
			</div>
		</div>

		<h4>All Users</h4>

		<div class="user" id="currentUserContainer">
			<p>Not logged in!</p>
			<p id="currentUser"></p>
		</div>

		<div id="userContainer">
			{{#each Users}}
			<div class="user" id="{{username}}Container">
				<p id="{{username}}">{{username}}</p>
			</div>
			{{/each}}
		</div>
	</div>
</div>	



